<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>File Metadata Microservice</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/public/style.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto">
          <h1 class="text-center display-4 my-4">File Metadata Microservice</h1>
          <form class="" action="/upload" method="post" enctype="multipart/form-data">
            <div class="col-md-6 m-auto">
              <input type="file" name="upfile" id="upfile">
            </div>
            <input type="submit" value="Submit" class="btn btn-primary btn-block mt-2 w-50 mx-auto">
          </form>
          <div class="col-md-12 m-auto">
          <h3>Upload a file and receive the following information as a JSON response: </h3>
          <ul>
            <li>the uploaded file's new file name</li>
            <li>the uploaded file's size (in bytes)</li>
          </ul>
          </div>
        </div>
      </div>
    </div>

    <div align="center" class="mt-5">
        <p>
          by
          <a href="https://github.com/willjw3">willjw3</a>
        </p>
      </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>